[user]
	email = aswinford@jadam.space
	name = "Adam Swinford"
[commit]
	verbose = true
[core]
	editor = nvim
[push]
	default = current
[rebase]
	autosquash = true
	autoStash = true
[credential "https://github.com"]
	username = jaswinford
[includeIf "gitdir:~/work/"]
	path = ~/work/.gitconfig
